Flask==2.0.1
Flask-RESTful==0.3.9
Flask-Cors==3.0.1
pyinstaller==4.5.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
mediapipe==0.9.1.0
numpy==1.23.5
Flask-SocketIO==5.3.2
python-engineio==4.3.4
python-socketio==5.7.2
websockets==10.4
Werkzeug==2.0.1
