<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BiamIO</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/game_screen.css">
</head>

<body>
    <main class="main-container">
        <section class="right-container">
            <div class="gamesection-container">
                <div class="hud-top">
                    <div class="myscore">
                        <p>점수 :&nbsp;</p>
                    </div>
                    <div class="opponentscore">
                        <p>상대 점수 :&nbsp;</p>
                    </div>
                    <div class="timer">
                        <p>남은 시간 :&nbsp;</p>
                    </div>
                </div>
                <div id="ambient" class="ambient"></div>
                <div class="cam-conatiner"><img class="camfeed" src="assets/img/cam.gif"></div>
            </div>
        </section>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>