<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Biam.IO</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/index.css')}}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script>
      $(document).ready(function () {
        // Connect to the server
        var socket = io.connect('http://krafton604.iptime.org');
        // var socket = io.connect('http://dlsrks99.site:8080');

        // Handle reset button click event
        $('#joinButton').click(function (event) {
          socket.emit('join');
        });

        socket.on('waiting', function(data) {
          console.log("waiting...")
          console.log(data)
          $("#isMatched").text("waiting...");
          $("#alarm").text("user : " + data['sid'] + " entered room : " + data['room_id']);
        });

        socket.on('matched', function(data) {
          console.log("matched!");
          console.log(data)
          $("#isMatched").text("matched!!!");
          $("#alarm").text("user : " + data['sid'] + " entered room : " + data['room_id']);
        });

        socket.on('start-game', function(data) {
          console.log(data)
          let url = '/enter_snake?room_id=' + data['room_id'] + '&sid=' + data['sid'];
          console.log(url)
          window.location.href = url;
        });
      });
    </script>
</head>

<body>
    <div class="gamesection-container">
        <div class="img-container">
            <img class ="cam-feed" src = "{{ url_for('static', filename= 'images/snake.gif')}}">
        </div>
        <div class="menu-container">
            <div class = "titlebutton-container">
                <button class="glowing-btn"><span class="glowing-txt">Biam.<span class="faulty-letter">IO</span></span></button>
            </div>
            <div class="menu">
                <a href="#" class="menu1" id="joinButton">Multi Play</a>
                <a href="{{ url_for('test_bed') }}" class="menu2">Single Play</a>
                <a href="#" class="menu3">Maze Runner</a>
            </div>
        </div>
    </div>
    <h2 id="isMatched"></h2>
    <h2 id="alarm"></h2>
</body>

</html>
